<!DOCTYPE html>

<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 {%- if is_signin_page is not defined %}
 <meta http-equiv="refresh" content="3600; url=/office/si/to">
 {%- endif %}
 <title>CFC Office</title>
 <!-- link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css" -->
 <link rel="stylesheet" href="{{ built_url('site.css') }}">
</head>
<body>
 <section class="top">
  <div class="container">
   {%- if is_signin_page is not defined %}
   <div class="is-pulled-right mt-2"><a class="button is-warning" href="/office/si/so">Sign out</a></div>
   {%- endif %}
   <h1 class="has-text-weight-bold">CFC Office</h1>
  </div>
 </section>
 <section class="container">
  {%- block main %}<p>(UNDER CONSTRUCTION)</p>{%- endblock %}
 </section>
 <script src="{{ built_url('site.js') }}"></script>
</body>
</html>
